<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.opensrp.path">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".application.VaccinatorApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher">
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.VaccinatorHomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/PathAppTheme" />
        <activity
            android:name=".activity.ChildSmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarAndTitle" />
        <activity
            android:name=".activity.ChildDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarAndTitle" />
        <activity
            android:name=".activity.ChildDetailTabbedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarAndTitleWithEditButton" />
        <activity
            android:name=".activity.FieldMonitorSmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoActionBarAndTitle" />
        <activity
            android:name=".activity.FieldMonitorDailyDetailActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoActionBarAndTitle" />
        <activity
            android:name=".activity.FieldMonitorMonthlyDetailActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoActionBarAndTitle" />
        <activity
            android:name=".activity.WomanSmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoActionBarAndTitle" />
        <activity
            android:name=".activity.WomanDetailActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoActionBarAndTitle" />
        <activity
            android:name=".activity.VaccineReportActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity

            android:name="com.vijay.jsonwizard.activities.JsonFormActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.PathJsonFormActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <receiver android:name=".receiver.Hia2ServiceBroadcastReceiver" />
        <receiver android:name=".receiver.PathSyncBroadcastReceiver" />
        <receiver android:name=".receiver.VaccinatorAlarmReceiver" />
        <receiver android:name=".receiver.OnBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity android:name=".activity.ProviderProfileActivity" />
        <activity
            android:name=".activity.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChildImmunizationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle.NoActionBar" />
        <activity
            android:name=".activity.HIA2ReportsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle.NoActionBar" />
        <activity android:name=".activity.ReportSummaryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle.NoActionBar" />
        <activity android:name=".activity.StockActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle.NoActionBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3f94f9c3caeff331b3a2bd8c2182b663ad6a955a" />

        <service android:name=".service.intent.PathReplicationIntentService" />
        <service android:name=".service.intent.PullUniqueIdsIntentService" />
        <service android:name=".service.intent.WeightIntentService" />
        <service android:name=".service.intent.VaccineIntentService" />
        <service android:name=".service.intent.ZScoreRefreshIntentService" />
        <service android:name=".service.intent.RecurringIntentService" />
        <service android:name=".service.intent.HIA2IntentService" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.vijay.jsonwizard.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/captured_images_path" />
        </provider>

        <activity
            android:name=".activity.StockControlActivity"
            android:label="@string/title_activity_stock_control"
            android:theme="@style/AppThemeNoTitle.NoActionBar">

        </activity>
    </application>

</manifest>